
#calculator {
    width: 15em;
    background-color: brown;
    display: grid;
}
#screen {
    display:block;
    text-align: end;
    width: 80%;
    background-color:greenyellow;
}
#numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.number {
    width: 5em;
    margin: 0.25em;
    position: relative;
}

.operators {
    width: 1.5em;
    display: flex;
    flex-direction: column;
}

#equals {
    height: 6em;
}
