
#calculator {
    width: 15em;
    background-color: brown;
    display: grid;
    align-content: center;
}

#screen {
    text-align: end;
    width: 80%;
    height: 2.5em;
    background-color:greenyellow;
}
#buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.number, #AC, #decimal, .operator {
    width: 5em;
    height: 5em;
    font-weight: 600;
}

#equals {
    width: 10em;
    height: 5em;
    font-weight: 700;
}