body {
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(68, 195, 146, 1) 52%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    width: 20em;
    background-color: rosybrown;
    display: grid;
    text-align: center;
    border: .5em solid rgba(0, 212, 255, 1);
    border-radius: 25px;
    margin-top: 5em;
    box-shadow: 10px 0 10px 5px;
}

#screen {
    margin-left: 8%;
    margin-top: 1em;
    text-align: right;
    height: 2.5em;
    background-color: green;
    border: 0.25em solid rgba(0, 212, 255, 1);
    font-size: larger;
}

#buttons {
    gap: 0;
}

.calc-keys {
    border-radius: 5px;
    width: 5em;
    height: 5em;
    font-weight: 600;
    margin: 0;
}

.operator {
    background-color: antiquewhite;
}

#equals {
    height: 5em;
    font-weight: 700;
    background-color: orange;
    margin-bottom: 1em;
}

.is-depressed {
    background-color: darkgray;
}

#calculations {
    display: inline-block;
    border: .5em solid orange;
    border-radius: 15px;
    background-color: rgba(2, 0, 36, 1);
    margin-top: 5em;
    color: whitesmoke;
    max-width: 400px;
    max-height: 500px;
    overflow: auto;
    box-shadow: 10px 0 10px 5px;
}

#calculations h1 {
    padding: .25em;
    text-align: center;
}

#results {
    display: block;
    text-align: center;
    align-items: center;
}

#results p {
    background-color: rgba(68, 195, 146, 1);
    color: black;
    border: 2px solid orange;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
}

#result>p:hover:after {
    transition: 0.2s ease-in;
    transform: scale(1.2)
}